/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.frame-browser {
    background: #f4f7f9 url(../images/browser-controls.svg) no-repeat;
    background-position: 10px 7px;
    border: 1px solid #baced3;
    border-radius: 5px;
    padding-top: 22px;
    margin: auto;
    overflow: hidden;
    max-width: 900px;
}


